:root {
    --c-white: #fff;

    --c-gray: #E2EAED;
    --c-gray-light: #FDFDFE;
    --c-gray-dark: #616368;
    --c-gray-silver: #FFECEF;
    --c-gray-primery: #B9B9B8;

    --c-orange-dark: #fcae61;
    --c-orange-light: #FEAA25;
    
    --c-blue: #2563FF;
    --c-blue-dark: #242f51;
    --c-blue-light: #2500f9;
    --c-blue-silver: #5b3eff;

    --c-pink: #F55767;
    
    --c-green: #40975F;
}