@import '../fonts/stylesheet.css';
@import './_variables.css';
@import './_media.css';
@import './_components.css';

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--c-gray-light);
}

.header-top {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.app-logo {
    color: var(--color-orange-dark);
    font-weight: 700;
    font-size: 2rem;
    margin: none;
    text-decoration: none;
}

.app-logo span {
    color: var(--color-blue-dark);
}

.main-menu {
    margin-left: auto;
    margin-right: 20px;
}

.main-menu__link {
    color: var(--color-blue-dark);
    padding: 5px 15px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.main-menu__link:hover {
    text-decoration: underline;
}

.header-article {
    display: flex;
    padding: 20px 120px 0px 120px;
    align-items: center;
    background: url(../images/shapes-header.png);
    z-index: 999;
}

.header-information {
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
}

.header-information__award {
    display: flex;
    align-items: center;
    background: var(--color-gray-light-2);
    border-radius: 30px;
    max-width: 350px;
}

.header-information__award-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
    color: var(--color-white);
    background: var(--color-orange-light-2);
    border-radius: 50%;
}

.header-information__award-text {
    font-size: 1.2rem;
    color: var(--c-blue-dark);
    font-weight: 500;
    padding-left: 10px;
}

.header-information__title {
    font-size: 60px;
    font-weight: 700;
    color: var(--color-blue-dark);
}

.header-information__text {
    font-size: 18px;
    color: var(--color-gray-dark-2);
}

.header-information__bottom-block {
    display: flex;
    align-items: center;
}

.header-information__video-link {
    color: var(--color-blue-light-3);
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 27px;
    text-decoration: none;
}

.header-article__app-example-image {
    max-height: 530px;
}

.header-article__bottom-image {
    background: url(../images/city-header.png);
    height: 245px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.trusted-companies {
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px 120px;
}

.trusted-companies__title {
    color: var(--color-blue-dark);
    font-size: 1.2rem;
    font-weight: 500;
}

.trusted-companies__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.app-features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 120px;
}

.app-features__example {
    display: flex;
    width: 50%;
    padding-right: 50px;
    justify-content: flex-end;
}

.app-features__example-image {
    max-height: 600px;
}

.app-features-container {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    justify-content: space-between;
    width: 50%;
}

.app-features__title {
    color: var(--c-blue-dark);
    font-size: 2.5rem;
    font-weight: 700;
}

.app-features__subtitle-text {
    padding: 20px 0px;
}

.app-features__list {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.app-features__item {
    display: flex;
    padding: 30px 0px;
    align-items: center;
}

.app-feature__item-information {
    display: flex;
    flex-direction: column;
    padding-left: 33px;
}

.app-features__item-title {
    padding-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 700;
}

.jackpots {
    display: flex;
    flex-direction: row;
    padding: 50px 120px;
    justify-content: center;
    align-items: center;
}

.jackpots__title {
    display: flex;
    font-size: 3.5rem;
    color: var(--c-blue-dark);
    flex-grow: 1;
    flex-basis: 0;
}

.jackpots__text {
    display: flex;
    font-size: 1.2rem;
    color: var(--c-gray-dark);
    flex-grow: 1;
    flex-basis: 0;
    font-weight: 500;
}

.vertical-line {
    flex-grow: 0;
    display: flex;
    width: 2px;
    height: 150px;
    background: var(--c-gray-primery);
}

.vertical-line--with-margins {
    margin: 0px 30px;
}

.benefits {
    display: flex;
    padding: 50px 120px;
}

.benefits__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.benefits__item {
    width: 250px;
}

.benefits__item-title {
    padding: 47px 0px 15px 0px;
    font-size: 1.3rem;
    font-weight: 700;
}

.benefits__item-text {
    font-size: 1.1rem;
    color: var(--c-gray-dark)
}

.about-design {
    display: flex;
    padding: 50px 120px;
    align-items: center;
}

.about-design__example {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.about-design__example-image {
    max-height: 400px;
}

.about-design__information {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}

.about-design__title {
    color: var(--c-blue-dark);
    font-size: 2.5rem;
    font-weight: 700;
}

.about-design__text {
    font-size: 1.1rem;
    color: var(--c-gray-dark);
    padding: 29px 0px 41px;
}